// Layout

$layoutBackgroundColor:  rgb(210,225,255);

// FormBody
$formBodyBackgroundColor: rgb(255,255,255);
$formBodyBoxShadow: 0px 0px 15px 4px rgba(0,0,0,0.18);

// FormCard
$FormCardBackgroundColor:rgb(222,222,222);

$FormCardHeaderBackgroundImg: linear-gradient( rgb(255,198,1), rgb(236, 169, 37));
$FormCardBoxShadow: 0px 0px 5px 1px rgba(255,255,255,0.48) inset;

//Button

$BtnBackgroundImg: linear-gradient(rgb(67,76,178), rgb(115,98,206));